<%- include('partials/header.ejs') %>

<!-- iterate through list of articles -->
<div class="container">
    <br>
    <ul class="list-group">
        
        <li class="list-group-item">Name: <%= patient.fname %> <%= patient.lname %></li>
        <li class="list-group-item">Gender: <%=patient.gender %></li>
    
        <li class="list-group-item">DOB: <%= patient.birthdate.getDate()+'/'+ patient.birthdate.getMonth()+'/'+patient.birthdate.getFullYear()%>  </li>
        <li class="list-group-item">Address: <%= patient.address %></li>
        <li class="list-group-item">Phone: <%= patient.phone %></li>
        <li class="list-group-item">Balance: <%=patient.payments %></li>
       
    </ul>

    <hr>
    <a class="btn btn-success" role="button" href="/patients/payments/<%=patient._id %>">Add Payment</a>
    <a class="btn btn-danger." role="button" href="/patients/edit/<%=patient._id %>">Edit Patient</a>
    <a class="btn btn-infor" role="button" href="/patients/delete/<%=patient._id %>">Delete Patient</a>
   
</div>
<%- include('partials/footer.ejs') %> 