<%- include('partials/header.ejs') %>

<!-- iterate through list of articles -->
<div class="container">
    <br>
    <h1><%= title %></h1>
<ul class="list-group">
    <% patients.forEach(element => { %>
        <li class="list-group-item"><a href="/patients/<%=element._id %>"> <%= element.fname %> <%= element.lname %></a> </li>
    <% }); %> 
</ul>
</div>
<%- include('partials/footer.ejs') %> 